/* @import "../../mixins.scss"; */

.form-Register {
    position: relative;
    transform: translateY(0);
    width: 26rem;
    margin: auto;
    transition: all ease 0.5s;
    color: black; 
}
h1{
    width: 5rem;
    margin-left: 16rem;
    line-height: 1rem;
    font-weight: 600;
    font-size: 25px;
    height: 40px;
}
label{
    margin-left: 2rem;
}
.insideInput{
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 0.1rem;
    outline: none;
    font-weight: 600;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.256);
   
}
.btn-Submit{
    border: none;
    padding: 0.5rem;
    width: 12rem;
    margin-left: 2rem;
    font-size: 1rem;
    margin-bottom: 5rem;
    margin-left: 4rem;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.256);

}
.btn-Submit:hover{
    box-shadow: rgba(116, 120, 123, 0.3) 0px 1px 2px 0px, rgba(210, 216, 217, 0.318) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
    cursor: pointer;
}
.reg{
    padding: 0.5rem;
    margin-left: 1rem;
    color: black;
    text-decoration: none;
    border: 1px solid rgba(128, 128, 128, 0.256);

}
u{
    text-decoration: none;
    font-size: .7rem;
}

.iconn{
    position: absolute;
    margin-left: 20rem;
    margin-top: -2rem;
    color: black;
}

.form-Registerr{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    transform: translateY(0);
    width: 32rem;
    height: 40rem;
    margin: auto;
    transition: all ease 0.5s;
    /* top: 3rem; */
    color:black;
}
.insideFormm{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 15px, rgba(153, 152, 152, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;        padding: 3rem;
    width: 30rem;
    height: 39rem;
    margin: .4rem auto;
}
.btn-logReg{
    font-size: .9rem;
    margin-top: -2rem;
}
@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width:639px) and ( min-width:360px) {
    .footer{
        width:35rem;
        margin-top: 2rem;
        height: 22rem;
    }
}
