*{
    transition: all .5s linear;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.App{
    background-color: brown;
    height: 200rem;
}
.formRegister{
    background-image: url("https://img.freepik.com/premium-psd/subscribe-my-youtube-channel_25996-1707.jpg");
    width: 45rem;
    height: 30rem;
    filter: drop-shadow(10px 30px 50px 20px);
    position: relative;
    left: 28rem;
    top: 8rem;
    background-color: rgba(220, 20, 60, 0.14);
    box-shadow: rgba(0, 0, 0, 15) 0px 5px 15px;
    .insideDiv{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 2rem;
        margin-left: 5rem;
        width: 29rem;
        height: 17rem;
    }
    .lab{
        position: relative;
        font-size: 1.7rem;
        left: 3rem;
        top: 4.7rem;
        color: white;
    }
    .IconRight{
        position: absolute;
        right: 10rem;
        margin-top: 3.5rem;
    }
    .inputBox{
        position: absolute;
        margin-left: 6rem;
        margin-top: 2.5rem;
        padding: 0.7rem;
        width: 20rem;
        outline: none;
    }
   
    .btn{
        position: relative;
        bottom: 4rem;
        left: 14rem;
        width: 9rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        align-items: center;
        font-size: 1.5rem;
        border: 2px solid ;
        cursor: pointer;
    }
    .btn:hover{
        color: black;
        transition: all 5s linear;
    }
    .Lin>u{
        padding: .2rem;
    }

}
h1{
    text-align: center;
    font-size: 3rem;
    color: white;
}
.iconn{
    position:absolute;
    left: 29rem;
    bottom: 11rem;
}
.icon{
    position:absolute;
    left: 29rem;
    bottom: 14.2rem;
}